@model IEnumerable<Toy>

<div class="row pb-3">
    @foreach (var toy in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@toy.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@toy.Name</p>
                                <p class="card-title text-warning text-center">Producer: <b>@toy.Producer</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">@toy.Price.ToString()</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>